<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Activity</title>
</head>
<body>
    <%- include('../partials/studentNavbar') %>
    <div class="main m-0 p-4 center-items">
        <div class="activity-result m-0 p-2 h-100">
            <div class="progress-container mx-auto">
                <svg class="progress-svg" viewBox="0 0 100 100">
                    <circle class="progress-circle" cx="50" cy="50" r="45"></circle>
                    <circle class="progress-bar" cx="50" cy="50" r="45"></circle>
                </svg>
                <div class="progress-text">
                    <span class="progress-number">0</span>%
                </div>
            </div>
            <div class="information text-center">
                <h3>You have finished this activity!</h3>
                <a href="/todos" class="btn btn-outline-primary mt-3">Go back</a>
            </div>
            
            <div class="m-0 p-0 px-5 py-3 w-100">
            </div>

            <% for( let i = 0; i < activity.questions.length; i++ ) { %>
                <% var studentAnswer =  activity.questions[i].answers[0].answer %>
                <% var answer = activity.questions[i].answer %>
                <div class="m-0 p-0 px-5 pt-3 w-100">
                    <% if (studentAnswer == answer) { %>
                        <h3><%= (i + 1) + '. ' + activity.questions[i].prompt %> - <i id="q-icon-check" class="fa-solid fa-check check-icon ml-2" style="visibility: visible;"></i></span></h3>
                        <h5>Your Answer: <span style="color: green;"><%= studentAnswer %></h5>
                    <% } else { %>
                        <h3><%= (i + 1) + '. ' + activity.questions[i].prompt %> - <i id="q-icon-x" class="fa-solid fa-xmark x-icon" style="visibility: visible;"></i></h3>
                        <h5>Your Answer: <span style="color: red;"><%= studentAnswer %></span></h5>
                        <h5>Correct Answer: <span style="color: green;"><%= answer %></span></h5>
                        <p>Explanation: <%= activity.questions[i].explanation %></p>
                    <% } %>
                </div>
            <% } %>

        </div>
        <script>
            function animateProgressBar(data) {
                progress = Number(data)
                const bar = document.querySelector('.progress-bar')
                const number = document.querySelector('.progress-number')
                const circumference = 2 * Math.PI * bar.getAttribute('r')
                const offset = circumference - progress / 100 * circumference
                bar.style.strokeDashoffset = circumference
                bar.style.strokeDasharray = `${circumference} ${circumference}`
                number.textContent = 0

                bar.style.strokeDashoffset = offset
                number.textContent = Math.round(Number(progress))
                bar.animate([{ strokeDashoffset: circumference }, { strokeDashoffset: offset }], { duration: 1000, easing: 'ease-out' })
            }
          
          animateProgressBar('<%= (Number(score) / Number(total)) * 100 %>')
        </script>
    </div>
</body>
</html>